/.phpunit.cache
/node_modules
/public/hot
/public/assets/media/img/logo.jpg
/public/assets/media/img/logo.png
/public/assets/media/img/logo.jpeg
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.zed
